# Data Science Tools and Ecoystem

In this notebook, Data Science tools and Ecosystem are summarized

**Objectives**
- List popular languages in Data Science
- List common libraries in data science 
- Data Science Tools

Some of the popular languages that Data Scientist use are: 
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include: 
1. Sci-kit learn 
2. Pandas 
3. Matplotlib

|Data Science Tools|
|------|
|kaggle|
|government|
|data catalogs.org|

### Below are a few examples of evaluating arithmetic expressions in Python

In [23]:
# This is a simple arithmetic expression
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by dividing by 60 
200/60

3.3333333333333335

## Author
Tanner